a,a:visited,.fakelink {
    text-decoration: none;
    color: #1E90FF;
    cursor: pointer;
}
a:hover,.fakelink:hover {
    color: #fff
}
.red, .error {
    color: red;
    text-align: center;
}
#menu {
    border: 1px solid #1A1A1A;
    background-color: #4D4D4D;
    color: #fff;
    border-radius: 0 0 8px 8px;
}
#menu ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#menu ul li {
    margin: 4px ;
    padding: 0;
}
#menu h6 {
    padding: 0;
    margin: 0 10% 0 2%;
    display: inline-block;
}
li.red_bcg {
    background-color: rgb(255, 137, 137);
}
li.green_bcg {
    background-color: rgb(137, 255, 137);
}

li.red_bcg,li.green_bcg {
    border: 1px solid #dadada;
    list-style-type: none;
    padding: 1px 5px;
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
}
li.red_bcg:hover,li.green_bcg:hover {
    border: 1px solid #1A1A1A;
}
.hidden {
    display: none;
}
.delete {
    width: 32px;
    height: 32px;
    background-image: url('../images/editing-delete-icon_24.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0;
    float:left;
}
#menu-list li{
    display:inline-block;
}
p.text {
    display: inline-block;
    padding: 5px;
    margin: auto;
    height: 32px;
}
input[type=text],input[type=email],input[type=password],textarea {
    min-width: 350px;
}
textarea {
    min-height: 400px;
}
textarea#iptables {
    width: 960px;
}
h1,h2,h3,h4 {
    text-align: center
}
ul.inline li {
    display:inline-block;
}
a.current {
    color: #1A1A1A;
}

/*pagination*/
div.pagination {
    padding: 3px;
    margin: 3px;
    text-align: center;
    font-family: Tahoma,Helvetica,sans-serif;
}

div.pagination a {
    color: #0645ad;
    border: 1px solid #a9b8dd;
    margin-right: 3px;
    padding: 2px 6px;
    background-position: bottom;
    text-decoration: none;
}

div.pagination a:hover, div.pagination a:active {
    border: 1px solid #3c61a5;
    background-image: none;
    background-color: #6b92d7;
    color: #fff;
}

div.pagination span.current {
    color: #000;
    font-weight: bold;
    margin-right: 3px;
    padding: 2px 6px;
}

div.pagination span.disabled {
    border: 1px solid #ddd;
    color: #bbb;
    margin-right: 3px;
    padding: 2px 6px;
}

div.pagination .next {
    margin: 0 3px 0 8px;
}

div.pagination .prev {
    margin: 0 8px 0 0;
}
.form-group label {
    cursor: pointer;
    display: inline-block;
    width: 160px;
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-right: none;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
form {
    display: block;
    width: 550px;
    margin: 0 auto;
}
input[type="text"]:disabled {
    background-color: #D1D1D1;
    color: #bbb;
    cursor: not-allowed;
}
.row {
    width: 100%;
}
.row_right {

}
.submenu {
  list-style-type: none;   
}
.submenu li {
    display: inline-block;
    width: 80px;
    margin: 0;
    padding: 5px;
    background-color: #1A1A1A;
}
tr.disabled {
    background-color: #ddd;
    font-style: italic;
}
td,th {
    padding-left: 8px;
}