    <div class="row">
      <div class="eleven column">
        <h4>login</h4>
        {if !empty($error) && isset($error)}
			{$error}
        {/if}
        <p>
			{$login_form}
        </p>
      </div>
    </div>
  </div>
