<div class="row">

    <div id="menu" class="u-full-width">
        <h6><a href="./">{$title}</a></h6>
        <ul id="menu-list">
            {if isset($user_authed) AND ($user_authed)===true}
                <li><a href="?p=dashboard">DashBoard</a>
                <li><a href="?p=users">Users</a></li>
                <li><a href="?p=groups">Groups</a></li>
                <li><a href="?p=profil">Profile</a></li>
                <li><a href="?p=dns">DNS</a></li>
                <li><a href="?p=network">Net</a></li>
                <li><a href="?p=firewall">FireWall</a></li>
                <li><a href="?p=logout">EXIT</a></li>
            {/if}
        </ul>
    </div>

</div>
